<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab2firebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chef"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.lab2firebase.EditProfileActivity" />
        <activity android:name="com.example.lab2firebase.ProfileActivity" />
        <activity android:name="com.example.lab2firebase.SignUpActivity" />
        <activity android:name="com.example.lab2firebase.ApplyHelpActivity" />
        <activity android:name="com.example.lab2firebase.PasswordActivity" />
        <activity android:name="com.example.lab2firebase.CircleMenu" />
        <activity android:name="com.example.lab2firebase.FoodDetailsActivity" />
        <activity android:name="com.example.lab2firebase.CurrentOrders" />
        <activity android:name="com.example.lab2firebase.DetailedItemActivity" />
        <activity android:name="com.example.lab2firebase.FoodListActivity" />
        <activity android:name="com.example.lab2firebase.RestaurantProfile" />
        <activity android:name="com.example.lab2firebase.EditRestaurantProfile" />
        <activity android:name="com.example.lab2firebase.NewDailyOffer" />
        <activity android:name="com.example.lab2firebase.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>